// 为layout组件写样式
.layout {
  display: flex;
  flex-direction: column;
  height: 100%; // 设置高度为视口高度

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding-left: 10px;
    >div:first-child {
      font-size: 1.5rem;
    }
  }

  //侧边栏样式
  .sider {
    background-color: #ffffff;
    width: 200px; // 设置宽度
  }

  // 内容区样式
  .content {
    flex: 1; // 内容区域占据剩余空间
    padding: 20px;
    overflow-y: auto; // 垂直滚动条
  }
}